<form >

    <label for="username">User Name </label>
        <input type="text" name="username">
    <br>

    <label for="email">Email </label>
        <input type="email" name="email" >
    <br>

    <label for="password">Password </label>
        <input type="password" name="password" >
    <br>

    <div class="address">
        <label for="streetName">Nom de rue </label>
        <input type="text" name="streetName">
        <br>

        <label for="zipCode">Code postal </label>
        <input type="text" name="zipCode">
        <br>

        <label for="city">Ville </label>
        <input type="text" name="city">
        <br>
    </div>
    <br>

    <button type="submit">Inscription</button>

</form>

